body{
    color: #FFFFFF;
    font-size: 30px;
    background-color: #444444;
}

#icon {
    width: 100%;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
